@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,900;1,700&display=swap");

/* Resets */
*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: var(--transition);
}

/* Smooth scroll effect */
html {
  scroll-behavior: smooth;
}

img {
  display: block;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: auto;
}

ul li {
  list-style-type: none;
  padding: 0;
}

a {
  text-decoration: none;
}

/* CSS Variables */
:root {
  --ff-primary: "Source Sans Pro", sans-serif;
  --ff-secondary: "Source Code Pro", monospace;

  --fw-reg: 400;
  --fw-bold: 600;
  --fw-bolder: 900;

  --clr-light: #fff;
  --clr-dark: #303030;
  --clr-accent: #16e0bd;
  --fs-h1: 1.7rem;
  --fs-h2: 1.5rem;
  --fs-h3: 1.1rem;
  --fs-body: 0.8rem;
  --line-height: 1.7rem;

  --transition: 0.4s ease-in;

  --bs: 0.25em 0.25em 0.75em rgba(0, 0, 0, 0.25),
    0.125em 0.125em 0.25em rgba(0, 0, 0, 0.15);
}

/* Utility Classes */

body {
  font-family: var(--ff-primary);
}

.container {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

#hero {
  background-color: var(--clr-accent);
  /* min-height: 100vh; */
}

#subscribe-email {
  background-color: var(--clr-accent);
}

#footer {
  background-color: var(--clr-dark);
}


/* Navbar starts */

nav {
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  box-shadow: 2px 3px 2px #f1f1f1;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

.hamburger {
  display: none;
}

.logo img {
  width: 4rem;
  height: 4rem;
}

ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-item {
  margin-left: 2rem;
}

.nav-link {
  font-weight: var(--fw-bold);
}

/* Hero section starts */

.hero .container {
  background: var(--clr-accent);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  color: var(--clr-light);
  padding-top: 1rem;
  padding-bottom: 1rem;
  gap: 1rem;
}

.intro-text {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
  text-align: center;  
}

.intro-text h1 {
  font-size: var(--fs-h1);
}

.hero p {
  font-size: var(--fs-body);
  /* line-height: var(--line-height); */
}

.hero-btn {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 1rem;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  /* width: 100%; */
  background: var(--clr-dark);
  background-image: -webkit-linear-gradient(top, var(--clr-dark), #2d536d);
  background-image: -moz-linear-gradient(top, var(--clr-dark), #2d536d);
  background-image: -ms-linear-gradient(top, var(--clr-dark), #2d536d);
  background-image: -o-linear-gradient(top, var(--clr-dark), #2d536d);
  background-image: linear-gradient(to bottom, var(--clr-dark), #2980b9);
  -webkit-border-radius: 5;
  -moz-border-radius: 5;
  border-radius: 5px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, var(--clr-dark));
  background-image: -moz-linear-gradient(top, #3cb0fd, var(--clr-dark));
  background-image: -ms-linear-gradient(top, #3cb0fd, var(--clr-dark));
  background-image: -o-linear-gradient(top, #3cb0fd, var(--clr-dark));
  background-image: linear-gradient(to bottom, #3cb0fd, var(--clr-dark));
  text-decoration: none;
}

.btn:active {
  color: var(--clr-accent);
}

.hero-img {
  order: 1;
}

.intro-text {
  order: 2;
}

.hero-img img {
  width: 100vw;
  max-height: 40vh;
  object-fit: cover;
  border-radius: 3px;
  box-shadow: 5px 10px 8px rgba(36, 33, 33, 0.5);
}

/* Hero section ends */

/* About section start*/

.about .container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
  font-family: var(--ff-secondary);
}

.about h2 {
  font-size: var(--fs-h2);
  font-weight: var(--fw-bold);
  font-family: var(--ff-primary);
  line-height: var(--line-height);
  padding-bottom: 0.7rem;
  text-align: center;
}

.about h3 {
  font-size: var(--fs-h3);
  padding-bottom: 0.5rem;
}

.about p {
  font-size: var(--fs-body);
  text-align: justify;
}

.about-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

.about-img img {
  width: 100vw;
  max-height: 40vh;
  object-fit: cover;
  border-radius: 3px;
  box-shadow: 5px 10px 8px rgba(36, 33, 33, 0.5);
}

/* Subscription form starts */

.subscribe-email .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;
  padding: 2rem; 
}

.subscribe-email h3 {
  color: var(--clr-light);
  font-size: var(--fs-h3);
  text-align: center;
}

.subscribe-email .container form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem; 
}

.subscribe-email .container input {
  padding: 0.5rem;
  border: 1px solid var(--clr-dark);
  border-radius: 5px;
  width: 100%;
}

.submit-btn {
  background-color: var(--clr-dark);
  color: var(--clr-light);
  cursor: pointer;
}

.submit-btn:hover {
  opacity: 0.8;
}

.submit-btn:active {
  color: var(--clr-accent);
}


/* Footer */
.footer .container {
  background: var(--clr-dark);
  color: var(--clr-accent);
  text-align: center;
  padding: 2rem;
  font-size: var(--fs-h3);
}

.footer h2 {
  font-size: var(--fs-h3);
}

.footer a {
  color: inherit;
  text-decoration: none;
}

.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  margin: 2em 0 0;
}

.social-list-item {
  margin: 0 0.5;
}

.social-list-link {
  padding: 0.5em;
}

/* Media Quaries */
@media screen and (min-width: 450px) {
  /* Hero Section  */

  .hero .container {
    flex-direction: row;
  }

  .hero-btn {
    flex-direction: row;
  }
  .hero-img, .intro-text {
    flex: 1;
  }

  .hero-img img {
    order: 2;
  }
  
  .intro-text {
    order: 1;
  }

  /* About Section */
  .about-main {
    flex-direction: row;
    gap: 2rem;
  }

  .about-main.left {
    text-align: left;
  }

  .about-main.right {
    text-align: right;
  }

  .about-img {
    flex: 1;
  }
  .about-text {
    flex: 1;
  }
  .about-main.reverse {
    flex-direction: row-reverse;
  }

  .about-main.left h2 {
    text-align: left;
  }

  .about-main.right h2 {
    text-align: right;
  }

  .subscribe-email .container form {
    /* flex-direction: row; */
    gap: 1rem;    
  }
}
  /* Large Tablet Styles */
  @media screen and (min-width: 690px) {
  }

  /* Laptop Styles */
  @media screen and (min-width: 1000px) {
    :root {
      --fs-h1: 3rem;
      --fs-h2: 2.25rem;
      --fs-h3: 1.25rem;
      --fs-body: 1rem;
      --line-height: 1.7rem;
    }

    .container {
      width: 70vw;
    }
  }